<h2> Popis bilješki </h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Kategorija</th>
    <th>Tekst bilješke</th>
    <th>Radnje</th>
  </tr>
  </thead>
  <tbody>  <!-- class="pagination"-->
  <tr *ngFor="let biljeska of biljeske">
  <!-- | paginate :{itemsPerPage:5, currentPage: p } let i = index"-->
    <td>{{getKategorijaById(biljeska.kategorijaid)?.ime}}</td>
    <td>{{biljeska.tekst}}</td>
    <td>
      <button (click) = "updateBiljeska(biljeska.id)" class = "btn btn-info">
        Uredi
      </button>
      &nbsp;
      <button (click) = "deleteBiljeska(biljeska.id)" class = "btn btn-danger">
        Izbriši
      </button>
    </td>
  </tr>
  </tbody>

</table>

<!--pagination-controls previousLabel=”Prev” nextLabel=”Next” (pageChange)="p =$event">
</pagination-controls-->
